body,
html {
  /* background-color: #40407a; */
  /* background-color: #fed330; */
  background-color: #fd9644;
  /* background-color: #ffb142; */
  font-family: "Arapey", serif;
}

.shadow {
  box-shadow: 8px 12px 12px 5px rgba(0, 0, 0, 0.8);
}

/* .is-centered-flexy {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */

.title {
  letter-spacing: 4px;
}

@media (max-width: 678px) {
  .shadow {
    max-width: 460px;
    max-height: 320px;
  }
}

#ometepe {
  background: black;
  background-image: url("/images/painting.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#cuadros {
  background: black;
  background-image: url("../images/cuadros.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  border-top: 10px solid white;
  border-bottom: 10px solid white;
}

#horses {
  background: black;
  background-image: url("../images/horses.jpg");
  background-size: cover;
  /* background-position: center center; */
  background-repeat: no-repeat;
  border-top: 10px solid white;
  border-bottom: 10px solid white;
  /* background-attachment: fixed; */
}
