body,
html {
  background-color: #40407a;
  font-family: "Arapey", serif;
}

.image {
  max-width: 600px;
}

.is-centered-flexy {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  letter-spacing: 4px;
}
